body {
    font-size: 1em;
    line-height: 1.4;
}

#wrap {
    width: 960px;
    margin: 0 auto;
    padding-top: 6em;
}

.status {
    width: 700px;
    border: 1px solid #bb2525;
    background-color: #ffe4d4;
    color: #bb2525;
    padding: 10px;
    text-align: center;
}

label {
    display: block;
    width: 500px;
    margin-top: 1em;
}

input[type="text"] {
    float: right;
    width: 250px;
}

input.short {
    width: 100px;
}

input[type="submit"] {
    font-size: 2em;
    margin-top: 20px;
}
